<!DOCTYPE html>
<html>

<head>
    <title>Minimal Sample</title>
    <style>
        body {
            font-family: system-ui, -apple-system, sans-serif;
            max-width: 800px;
            margin: 2rem auto;
            padding: 0 1rem;
            line-height: 1.6;
        }

        h1,
        h2,
        h3 {
            color: #333;
        }

        .quiet {
            color: #666;
            font-size: 0.9em;
        }
    </style>
</head>

<body>
    <div>
        {{#each primary.body}}
        {{#if (eq type "Text")}}{{value}}{{/if}}
        {{#if (eq type "Command")}}
        {{#if (eq cmd "heading")}}{{#if (eq attributes.level "1")}}<h1>{{#each children}}{{#if (eq type
            "Text")}}{{value}}{{/if}}{{/each}}</h1>{{/if}}{{#if (eq attributes.level "2")}}<h2>{{#each children}}{{#if
            (eq type "Text")}}{{value}}{{/if}}{{/each}}</h2>{{/if}}{{#if (eq attributes.level "3")}}<h3>{{#each
            children}}{{#if (eq type "Text")}}{{value}}{{/if}}{{/each}}</h3>{{/if}}{{/if}}
        {{#if (eq cmd "emphasis")}}{{#if (eq attributes.level "1")}}<strong>{{#each children}}{{#if (eq type
            "Text")}}{{value}}{{/if}}{{/each}}</strong>{{/if}}{{#if (eq attributes.level "2")}}<em>{{#each
            children}}{{#if (eq type "Text")}}{{value}}{{/if}}{{/each}}</em>{{/if}}{{/if}}
        {{#if (eq cmd "break")}}<br />{{/if}}
        {{#if (eq cmd "list")}}<ul>{{#each children}}{{#if (eq type "Command")}}{{#if (eq cmd "item")}}<li>{{#each
                children}}{{#if (eq type "Text")}}{{value}}{{/if}}{{#if (eq type "Command")}}{{#if (eq cmd
                "emphasis")}}{{#if (eq attributes.level "1")}}<strong>{{#each children}}{{#if (eq type
                    "Text")}}{{value}}{{/if}}{{/each}}</strong>{{/if}}{{#if (eq attributes.level "2")}}<em>{{#each
                    children}}{{#if (eq type "Text")}}{{value}}{{/if}}{{/each}}</em>{{/if}}{{/if}}{{/if}}{{/each}}</li>
            {{/if}}{{/if}}{{/each}}</ul>{{/if}}
        {{/if}}
        {{/each}}
    </div>
</body>

</html>